/* this can be moved to a higher level (application css)
  so it affects all controls
*/

.tbl {
  text-align:left;
}
.tbldsets {
  text-align:left;
}
.rowfh {
   height: calc(100% - 180px) !important;
}
.tbl tr:nth-child(even) {
     background-color: #f2f2f2;
}
.tbl td:first-child {
  text-align:right;
}

.dt-wrapper {
  margin:4px;
}

.tbldsets tr {
/*.tbldsets tr td:nth-child(1), .tbldsets tr td:nth-child(3),
.tbldsets tr td:nth-child(4), .tbldsets tr td:nth-child(5) */
  font-size:95%;
}

.brtbl {
  position:relative;
  display: table;
  /*max-width:fit-content;
   table-layout: fixed; */
  cursor:default;
  font-size:95%;
  z-index:0;
}

.brtbl tr  {
  text-align:right;
}

.brtbl tr td:nth-child(2), .brtbl tr td:nth-child(3), .brtbl tr td:nth-child(4), .brtbl tr td:nth-child(5) {
  text-align:center;
}

.brtbl td, .brtbl th {
  padding: 1px 8px;

}

.brtbl tbody tr:nth-child(even) td {
  background-color: #f2f2f2;
}
.brtbl tbody tr:nth-child(odd) td {
  background-color: #ededed;
}

.brtbl thead td, .brtbl thead th {
  background-color:#ddd;
  color: #666;
  font-weight: bold;
}
.brtbl .clhead {
  cursor:pointer;
}

/*
.brtbl tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 122px);
}
*/
