.sel-total {
    display:inline-block;
    margin:4px 4px;
    text-align:center;
    font-size:1rem;
    font-weight:bold;
    color: #ed1848;
    /* border: 1px solid #ed184860; */
    background-color:#fafafa;
    padding: 2px;
    line-height:120%;
    min-width:4rem;
 }
 .sel-summary {
    padding:1rem;
    /* border: 1px solid green; */
 }
 .subjxtbl .thl_hover {
   background-color:#ddd;
 }
 .subjtbl, .subjxtbl {
   font-size:15px;
   line-height:22px;
 }
 .subjtbl td, .subjxtbl td {
   padding: 0 4px;
   border-bottom: 1px solid #ddd;
   /* background-color:#f2f2f2; */
  }
  .subjxtbl tr td {
    background-color: #ececec;
  }

  .subjxtbl tbody tr:nth-child(odd) td {
    background-color: #f8f8f8;
  }

 .subjxtbl thead tr th {
   border-bottom: none; /* 1px solid #ddd; */
 }

  .subjxtbl thead tr th:nth-child(2) {
    /*border-left: 1px solid #ddd;
    padding-right:4px;*/
 }

 .subjxtbl thead tr td.totals {
  color: #855;
  text-align:left;
  border:none;
  padding-top:1px;
 }


 .subjxtbl tbody tr th:nth-child(1), .subjxtbl tbody tr th:nth-child(2) {
    padding-right:4px;
 }

  .subjxtbl td {
   min-width: 38px;
   text-align: right;
   padding-right:4px;
   border-left:1px solid #ddd;
  }

  .subjxtbl thead tr,  .subjxtbl thead th{
    /* border-bottom: 1px solid pink; /* 1px solid #ddd; */
    margin-bottom:0;
    height:0.7em;
    padding-bottom:0;
  }

 .subjxtbl tr td:nth-child(3) {
    border-left:none;
  }

.subjxtbl td.tdlast,
.subjxtbl td.tclast {
  background-color: transparent;
}

.subjxtbl td.tdlast {
  border-bottom:none;
}
.subjxtbl td.tdlast:nth-child(2) {
  border-left:none;
}

.subjxtbl tr td.tdlast {
  background-color:transparent;
}

.subjxtbl tr td.tclast {
  background-color:transparent;
}

.subjxtbl td.td-blank {
  background-color:transparent !important;
  border:none;
}

.subjxtbl td.tc-spacer {
  min-width:6px !important;
  width:6px !important;
  background-color:transparent !important;
  border:none;
}

 /* use the :last-child selector to access last row or even column
 .subjxtbl > tbody > tr:last-child td { background:transparent; } */

 .subjxtbl > tbody > tr:last-child td { border-bottom:none; }
 .subjxtbl > thead > tr:first-child th,
 .subjxtbl > tbody > tr > th:first-child {
    color:#855;
    /* background-color:#fff; */
    margin:0 4px;
    font-weight: normal;
    padding-bottom:0;
    margin-bottom:0;
 }

 .subjxtbl > tbody > tr > th:first-child {
    text-align:right;
 }
 .subjxtbl > tbody > tr > th:nth-child(2) {
  text-align:right;
  color:#666;
}

.subjxtbl > thead > tr:nth-child(2) {
  line-height:1em !important;
  color:#666;
}

.subjxtbl > thead > tr:nth-child(2) > th {
  padding-bottom:2px !important;
}

.checkout-area {
  padding: 1rem;
  background-color:#ddd;
  /* margin: 1rem auto 0.2rem; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.checkout-btn {
  background-color:#ffffff !important;
  color:#666;
  /*padding:0.3rem;*/
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius:0 !important;
}
.checkout-btn:hover {
  background-color:#fffafa !important;
  /* margin-left:2px;
  margin-top:2px; */
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-download  {
  padding-right:32px;
  background-image: url('download.svg');
  background-size: 18px 22px;
  background-repeat: no-repeat;
  background-position: 90% center;
}

.btn-xplore  {
  padding-right:2.2rem;
  background-image: url('explore.svg');
  background-size: 24px 28px;
  background-repeat: no-repeat;
  background-position: 90% center;
 }

 .brlist-info {
  width:24rem;
  text-align: center;
  padding:6px;
  font-size:80%;
  color:#845;
  visibility:hidden;
}

#brlist-col:hover > .brlist-info {
  visibility:visible;
}




.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}
