/*
Styling of ui controls
These styles could/should be included at a higher level (app)
to be made available everywhere in the app
*/

/* Bootstrap: override blue glow around focused form controls etc. */
.form-control:focus, button:focus, input:focus, select:focus {
  border: 1px solid rgba(184, 67, 106, 0.4) !important;
  box-shadow: 0 0 0 0.1rem rgba(224, 60, 88, 0.2) !important;
  outline-color: rgba(224, 60, 88, 0.6) !important;
}

.bpink { border: 1px solid pink; }
.bpink2 { border: 2px solid pink; }
.bpink4 { border: 4px solid pink; }
.bred { border: 1px solid red; }
.bgreen { border: 1px solid green; }
.bgreen4 { border: 4px solid green; }
.bblue { border: 1px solid blue; }
.byellow { border: 1px solid yellow; }

.frm-input {
  padding: 2px !important;
  font-size: 16px;
  height: 28px !important;
  line-height: 28px !important;
}
/* add this to divs/spans to prevent cursor text selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.frm-label {
  height: 28px !important;
  line-height: 28px !important;
}

/* the 1 row wrapping the 3 layout columns */
.row3Cols {
  /* margin-bottom:10px; */
}
.colMatrix {
  min-width: 24rem !important;
  max-width: 24rem !important;
}

.colCkRow {
  min-width: 16.6rem !important;
  max-width: 16.6rem !important;
  /* max-width: fit-content !important;*/
  position:relative;
}

.ckRow {
  position:absolute;
  padding:0 !important;
  top:2px;
  left:2px;
  width: 15rem !important;
  max-width: 15rem !important;
}

.colDemo {
  min-width: 16.6rem !important;
  /* max-width: fit-content !important; */
  max-width: 16.6rem !important;
  flex:1;
  position:relative;
  /* max-height: 35rem !important;
  overflow-y: auto;*/
}

.colExpNav {
  min-width: 9em !important;
  max-width: fit-content !important;
  flex:1;
  position:relative;
}
.colClearBtn {
  min-width: 9rem !important;
  /* max-width: fit-content !important; */
  max-width: 9rem !important;
  flex:1;
  position:relative;
  /* max-height: 35rem !important;
  overflow-y: auto;*/
}

.col-vscroll {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  overflow-y: auto;
}

.colSummary {
  min-width: 24rem !important;
  /* max-width: 24rem !important;*/
  flex:1;
  position:relative;
  /* overflow-x:scroll; */
}

#dset-info {
  font-size:80% !important;
  vertical-align: middle;
  color:#666;
  text-align:left;
  margin-left: 0;
  padding-left: 0;
  overflow-y:auto;
  overflow-x:visible;
  height:4.7em !important;
  min-height:4.7em;
  max-height:4.7em !important;
  min-width:50em;
  z-index:1
}
#dset-info-content {
  min-width:48em;
  padding-left: 3px;
  border-radius:4px;
  background-color:#f8f8f8;
  display:none;
}

.dset-info-warn {
  display:inline-block;
  background-color:#f8f8f8;
  color:#ad1838;
}

.red-info-text {
  font-size:80%;
  color:#c68;
}

/* custom check box style in LIBD palette for ReactStrap: to be used like this
<Label className="ckbox-label" >
     <CustomInput type="checkbox" id="ckDisable" onChange={toggleDisable} />
      Toggle disable
</Label>
*/

.ckbox-label-before {
  display: flex;
  flex-direction: row-reverse;
  /* border: 1px solid pink; */
  align-content: flex-start;
}

.ckbox-label {
  display: flex;
  flex-direction: row;
  font-size:14px;
  /* border: 1px solid pink; */
  align-content: flex-start;
}

.custom-control-label {
  margin-top:-2px;
  margin-left:4px;
}

.lb-fetal, .lb-fetal-ck {
  position:relative;
  color: #777;
  font-size:95%;
  font-weight: 300;
  font-style: italic;
}

.lb-fetal-ck {
  font-weight: normal;
  font-size:100%;
  font-style: normal;
  color: #dd1848;
}

/* preferred button style for this app */
.app-btn {
  background-color:#ffffff !important;
  color:#444;
  /*padding:0.3rem;*/
  line-height:95% !important;
  font-size:95% !important;
  border:1px solid #efefef !important;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.2);*/
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.23);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.23);
  border-radius:0 !important;
}
/* prevent the annoying outline that stays on after clicking the button */
.app-btn:focus {
  background-color:#ffffff !important;
  outline: none !important;
  color:#444 !important;
  line-height:95% !important;
  font-size:95% !important;
  border:1px solid #efefef !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
}
.app-btn:disabled {
  color:#4a4a4a !important;
}

.app-file-upload {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 6px 8px 6px 24px;
  color:#555;
  display:inline-block !important;
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size:20px 17px;
  background-image: url("upload.svg")
}

.app-file-upload input[type="file"] {
   display: none;
}

.app-bg {
  background-color:#ededed !important;
}
.app-bg-darker {
  background-color:#d2d2d2 !important;
}

.app-btn:hover:enabled {
  background-color:#ffffff !important;
  border:1px solid #ffffff !important;
  color:#333 !important;
  /* margin-left:2px;
  margin-top:2px; */
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.32);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.32);
}

.age-t-dd {
  position: absolute;
  top:-1px;
  left:0px;
  border:none;
}

.age-t-dtoggle {
   background-color: #f2f2f2 !important;
   min-width: 4.6rem !important;
   /* border-bottom: 4px solid #eae8e8; */
   /* vertical-align: middle !important; */
   border:none;
   /*border-top:1px solid #ededed;
   border-left:1px solid #ededed;
   border-top:1px solid #fbfbfb;
   border-left:1px solid #fbfbfb;*/
   border-radius:4px 0 0 0;
   color: #666;
   font-weight: bold;
   height:24px;
   line-height:135%;
   font-size:95%;
   text-align:left;
   text-align: center;
   padding: 0 4px;
   margin-bottom:0;
   border-right: 1px solid #d8d8d8;
   border-bottom: 1px solid #d8d8d8;
}


.age-t-dtoggle:hover {
  /* border-top:1px solid #fbfbfb;
  border-left:1px solid #fbfbfb;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);*/
  color: #444;
}
.age-t-ddlst {
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  border-radius:0;
  top:-2px !important;
}

/* decrease space between checkbox and following label! */
.custom-checkbox .custom-control-label::before {
   left:-1.3rem !important;
}
.custom-checkbox .custom-control-label::after {
  left:-1.3rem !important;
}

.custom-switch .custom-control-label::before, .custom-control-label::after {
  cursor:pointer;
}

.custom-control-label:before{
  border: 1px solid rgba(184, 67, 106, 0.4) !important;
  background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#ed1848;
}
.custom-checkbox .custom-control-input:checked:disabled~.custom-control-label::before{
  border: 1px solid rgba(184, 167, 146, 0.4) !important;
  background-color:#b2a8b8;
}

.custom-switch .custom-control-input:checked~.custom-control-label::before{
  background-color:#ed1848;
}

.custom-switch .custom-control-input:checked:disabled~.custom-control-label::before{
  border: 1px solid rgba(184, 167, 146, 0.4) !important;
  background-color:#b2a8b8;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
  border: 1px solid rgba(184, 67, 106, 0.4) !important;
  box-shadow: 0 0 0 0.1rem rgba(224, 60, 88, 0.2) !important;
  outline-color: rgba(224, 60, 88, 0.6) !important;
}

.custom-switch .custom-control-input:focus~.custom-control-label::before {
  border: 1px solid rgba(184, 67, 106, 0.4) !important;
  box-shadow: 0 0 0 0.1rem rgba(224, 60, 88, 0.2) !important;
  outline-color: rgba(224, 60, 88, 0.6) !important;
}

/* jquery tooltip styling */
.tooltip .tooltip-inner{
  border:1px solid #a99;
  background-color:#fff;
  color:#833;
  font-size:12px;
}

.blink-anim {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 20%;
  }
}


/* panel for custom multi-select list-grid with counts
   but could be used for other controls */
.lg-panel {
  position:relative;
  width: 18rem;
  overflow: hidden;
  padding:0;
  margin:6px;
  border-radius:8px;
  border: 1px solid #fbfbfb;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  /* prevent text selection/cursor */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

.lg-panel:not(.lg-collapsed) {
  /* box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);*/
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
}

/* fl-shad = "floating with shadow" look */
.lg-panel.fl-shad {
  border: 1px solid #ccc;
  /*background-color: #fff;*/
  background: none;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.lg-panel.fl-inset {
  /*border: 1px solid #ccc;
  background-color: #fff;*/
  border:none;
  background: none;
}

.lg-panel.lg-sq {
  border-radius:0 !important;
}

.lg-panel .lg-title {
cursor: default;
position:relative;
display: inline-flex;
width:100%;
justify-content: space-between !important;
color: #666;
font-size: 95%;
font-weight: bold;
padding:0 4px;
text-align:left;
/* background-color: #f6f6f6; */
border-bottom:1px solid #ececec;
}

.lg-panel.fl-shad .lg-title {
  /* background-image: linear-gradient(to right, #e2e2e4, #f2f2f4);
  background-color: #f2f2f4;*/
  background-color: #e8e8e8;
  border-bottom:1px solid #e8e8e8;
}

.lg-panel.fl-inset .lg-title {
  /* background-image: linear-gradient(to right, #e2e2e4, #f2f2f4);
  background-color: #f2f2f4;*/
  background-color: transparent;
  border:none;
}


.lg-panel .lg-dset-title .lg-tcaption {
  position:relative;
  top: 0;
  margin-left:140px !important;
  font-weight:bold;
  font-size:100%;
  letter-spacing:2px;
  color: #ad4872;
  /* background-color:pink; */
}

.lg-panel .lg-clickable {
  cursor:pointer;
}

.lg-title .coll-glyph {
  cursor:pointer;
  position:relative;
  color:#555;
  margin-left:4px;
  width:16px;
  height:16px;
  display:inline-block !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("chevron_up.svg")
}

.lg-panel.lg-collapsed .lg-title .coll-glyph {
  background-image: url("chevron_down.svg")
}

.age-panel { /* collapsable region of AgeRange control */
  position:relative;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}

.age-label {
   font-size:90%;
   display:inline-block;
   align-self:flex-end;
   flex:0 0 46px;
   padding:4px 4px;
 }

  .age-spacer {
    padding:0 0.6rem;
    color:gray;
 }

 .age-padder {
     padding:2px;
 }

 .age-padder input[type=number] {
  margin:0;
  padding:0 4px;
}

 /* footer section of .lg-panel showing the selection */
 .lg-panel .lg-only {
  position:relative;
  min-height:4px !important;
  z-index:10;
  display:block;
  padding:2px;
  margin:0;
  text-align:left;
  overflow-wrap: normal;
  /* border:1px solid #f6f6f6;*/
  border-top:1px solid #ececec;
  border-radius: 0 0 8px 8px;
}

.lg-panel.lg-collapsed .lg-only {
  background-color: #f6f6f6;
}

.lg-panel.fl-shad .lg-only {
  background-color: #f2f2f4;
}


.lg-panel.fl-shad.lg-collapsed .lg-title {
  border: none;
}

/* "only" label at the bottom */
.lg-only-lb {
  position:relative;
  font-size: 12px;
  line-height:10px;
  text-align:center;
  display:inline-block;
  width:22px;
  padding:6px;
  margin:2px;
  /* width: 20px;
  height: 20px; */
  font-weight: normal;
  color: #ed1848;
  cursor: pointer;
}
/*
.lg-only-lb::after {
  content: "\2715";
}
.lg-only-lb:hover::after {
  background-color: #eee;
  content: "\2715";
}

*/
.app-navlnk {
  color: #d24;
}

.app-navlnk:hover {
  color: #c13;
  background-color:#f2f2f2;
}

.app-navlnk.active {
  color: #a13 !important;

  background-color:#fff;
}


.lg-only-lb:hover {
  /* border:1px solid #e2e4e6;*/
  font-weight: bold;
  color: #ed1848;
  background-color: #eee;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}


.lg-flt, .lg-only-item {
  display:inline-block;
  pointer-events: auto;
  font-size: 90%;
  font-weight: bold;
  /* cursor: default;*/
  padding: 0 3px 1px;
  border: 0;
  margin: 2px 2px;
  color: white;
  background-color: #ed1848;
  border-radius: 6px;
}

.lg-only-item {
  cursor: pointer;
}

.lg-only-item-ch {
  background-color: #ed7898;
  /* color:#333; */
}

.lg-only-item:hover {
  background-color: #888;
  color: #ddd;
}

.lg-apply {
  position:relative;
  top:0px;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 2px;
  display: none;
  height:20px;
  margin: 1px 4px;
  /* margin: 0 8px 1px 2px;
  padding: 0 2px 1px 2px;*/
  /*color: #bd0019;*/
  color: #ed1848;
  background-color: #ffffff;
  border:1px solid #ddd;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);*/
  /* border:1px solid #fac7cb;  */
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;

  border-radius: 2px;
}

.lg-apply:hover {
  background-color: #ffffff;
  color: #ad1848;
  /* box-shadow: 2px 2px 1px grey; */
}


.btn-age-preset, .btn-undo{
  position:relative;
  font-size: 14px;
  line-height:18px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  height:20px;
  width:auto;
  margin: 0 4px;
  padding: 0 3px;
  /* color: #ed1848; */
  color: #444;
  background-color: #fff;
  border:1px solid #e2e4e6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  /* border:1px solid #fac7cb;  */
  border-radius: 1px;
}

.btn-age-preset {
  top:-2px;
}

.btn-undo {
  padding-top:0;
  height:14px;
  width:26px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-undo-icon {
  position:relative;
  display:inline-block;
  height:12px;
  padding:0;
  margin:0;
  top:-4px;
  left:2px;
  width:24px;
  background-color: #ed6848;
  -webkit-mask-image: url('undo_16.svg');
  mask-image: url('undo_16.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.btn-age-preset:hover, .btn-apply-undo:hover {
  background-color: #ffffff;
  color: #ad1848;
  /* box-shadow: 2px 2px 1px grey; */
}

